extends _app.pug

block content
    .login
        h1 Login
        form(action="/api/user/login" method="POST")
            .form-group
                label(for="email") Email
                input#email.form-control(type="email" name="email" placeholder="Enter email")
            .form-group
                label(for="password") Password
                input#password.form-control(type="password" name="password" placeholder="Password")
            button.btn.btn-primary(type="submit") Login